In [28]:
import pandas as pd

df = pd.read_csv("./datas/final_job_list.csv")

# df.head(5)

filter1 = df.loc[df['Title'] == 'Staff Applied Scientist, Marketplace' ]
filter1

,Title,Company,Location,Type of Positions,Job Description,Salary,Identified_Skills
0,"Staff Applied Scientist, Marketplace",ThredUp Inc.,CA,Full-time,\nAbout thredUP thredUP is transforming resale...,190000.0,"['python', 'machine learning', 'aws', 'sql']"